.register h1,
p {
  display: flex;
  justify-content: center;
}

.register h1 {
  color: hsl(33, 29%, 27%);
  font-size: 2.4em;
  margin-bottom: 0;
}
.register p {
  color: rgba(19, 19, 19, 0.699);
  font-weight: 600;
}
