/* Color Theme Swatches in Hex */
.Destaque {
  color: #f2f2f0;
}
.Principal {
  color: #bf9f63;
}
.DestaqueItems {
  color: #a68256;
}
.DestaqueItemsDark {
  color: #59462f;
}
.Text {
  color: #0d0d0d;
}

/* Color Theme Swatches in RGBA */
.Logo,
-Type,
-Mono-&-Marks---Collection-VII-1-rgba {
  color: rgba(242, 242, 239, 1);
}
.Logo,
-Type,
-Mono-&-Marks---Collection-VII-2-rgba {
  color: rgba(191, 159, 99, 1);
}
.Logo,
-Type,
-Mono-&-Marks---Collection-VII-3-rgba {
  color: rgba(165, 129, 86, 1);
}
.Logo,
-Type,
-Mono-&-Marks---Collection-VII-4-rgba {
  color: rgba(89, 70, 47, 1);
}
.Logo,
-Type,
-Mono-&-Marks---Collection-VII-5-rgba {
  color: rgba(12, 12, 12, 1);
}

/* Color Theme Swatches in HSLA */
.Logo,
-Type,
-Mono-&-Marks---Collection-VII-1-hsla {
  color: hsla(56, 8, 94, 1);
}
.Logo,
-Type,
-Mono-&-Marks---Collection-VII-2-hsla {
  color: hsla(39, 41, 57, 1);
}
.Logo,
-Type,
-Mono-&-Marks---Collection-VII-3-hsla {
  color: hsla(33, 31, 49, 1);
}
.Logo,
-Type,
-Mono-&-Marks---Collection-VII-4-hsla {
  color: hsla(33, 30, 26, 1);
}
.Logo,
-Type,
-Mono-&-Marks---Collection-VII-5-hsla {
  color: hsla(0, 0, 5, 1);
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f19d000c;
}

input::placeholder,
textarea::placeholder {
  font-family: "Poppins", sans-serif;
  color: #aaa;
}

input:focus,
textarea:focus {
  outline: none;
}

a,
nav button {
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: #0d0d0d;
  transition: 0.2s;
  font-size: 1em;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

form {
  margin: 0 auto;
  max-width: 35%;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.7em;
}

label span {
  margin-bottom: .3em;
  font-weight: bold;
  text-align: left;
}

input,
textarea {
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 0.8em 0;
  background-color: transparent;
}

.btn {
  display: flex;
  justify-content: center;
  background-color: #59462f;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  width: 120px;
  font-weight: bold;
  border: none;
  padding: 10px 15px;
  font-size: 1em;
}

.btn.btn-dark {
  background-color: #0d0d0d;
  border-radius: 0;
}

.btn.btn-outline {
  background-color: transparent;
  border-radius: 0;
  color: #0d0d0d;
  border: 1px solid #0d0d0d;
  padding: 7px 30px;
}

.btn:hover {
  background-color: #6d5438;
  transition: 0.4s;
}

.btn.btn-outline:hover {
  background-color: #0d0d0d;
}

.btn.btn-danger:hover {
  background-color: red;
}

button[disabled] {
  background-color: #aaa;
}

.container .error {
  color: rgb(202, 2, 2);
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  padding: 5px;
  border-radius: 5px;
}
